[submodule "blog"]
	path = blog
	url = https://github.com/nagiyu/blog.git
[submodule "secret"]
	path = secret
	url = https://github.com/nagiyu/secret.git
[submodule "finance"]
	path = finance
	url = https://github.com/nagiyu/finance.git
